################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
Debug/
Backup*/
packages/
Upgrade*.*
*.user
*.jfm
*.dbmdl
*.wadcfgx
