################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
Debug/
Backup*/
packages/
Upgrade*.*
*.user
*.jfm
*.dbmdl
*.wadcfgx
*.map
/Bootcamp.Web/Bootcamp.Web/Scripts/Area/areaService.js
/Bootcamp.Web/Bootcamp.Web/Scripts/Area/areaController.js
/Bootcamp.Web/Bootcamp.Web/Scripts/Area/Area.js
